#Dotfiles stuff
tmp
dotfiles.log
dotfiles.lock

#Shell
bash_nocommit

# NPM
npmrc

# Emacs
*/emacs.d/save/*
*/emacs.d/elpa/*
*/emacs.d/*.desktop*
*/emacs.d/session*
*/emacs.d/.mc-lists.el
*/emacs.d/semanticdb/*

# Deadbeef
config/deadbeef/playlists
config/deadbeef/config

# Other
.build
.usr

dotfiles.org

lib/.cache